.main_chat
  .main_chat__header
    .main_chat__header__left
      = @group.name
      .main_chat__header__left__member
        %ul.main_chat__header__left__member__list 
          Member ：
          %li.main_chat__header__left__member__name
            - @group.users.each do |user|
              = user.name
    = link_to "Edit", edit_group_path(@group), class:'main_chat__header__btn'
  .main_chat__talk
    .main_chat__talk__post
      .main_chat__talk__post__info
        .main_chat__talk__post__info__name
          masa
        .main_chat__talk__post__info__date
          2020/02/23(Sun) 18:00:36
      .main_caht__talk__post__text
        = render @messages

  .form 
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .input-box-text
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__file'
      = f.submit 'Send', class: 'submit-btn'