.side_bar 
  .side_bar__user
    .side_bar__user__box
      .side_bar__user__box__name
        = current_user.name
      .side_bar__user__box__icon
        = link_to new_group_path do
          = icon('fas', 'edit', class: "edit")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "cog")
  .side_bar__group
    - current_user.groups.each do |group|
      .side_bar__group__list
        = link_to '#' do
          .side_bar__group__list__name
            = group.name
          .side_bar__group__list__message
            メッセージはまだありません
